mat-sidenav{
    width:85%;
    background-color: rgb(195, 195, 226);
    height: 100%;
}
mat-sidenav-container{
    /* background-color: blue; */
    height: 990px;
    /* width: 300px; */
    /* border: solid 2px rgb(0, 0, 0); */

}
.col-10{
    /* border: solid 2px rgb(31, 201, 231); */
    height: 990px;
    /* width: 100%; */
}
/* .col-2{
    border: solid rgb(43, 3, 9);
    width:200px;
} */
#main{
    /* border: solid; */
    height: 1000px;
    /* margin: 0px;
    padding: 0px; */
}
.divdash{
    /* border: solid; */
    border-radius: 20px;
   height: 100px;
   padding-top: 15px;
   padding-left: 5px;
   background-color: whitesmoke;
  
}
.divdash *{
    background-color: whitesmoke;
}
#dash{
    /* border: solid red; */
    height: 180px;
    width: 100%;
}
#middle{
    /* border: solid rgb(16, 35, 146); */
    height: 400px;
}
#middle .col{
    /* border:solid yellow; */
    width: 200px;
    height: 385px;
   
}
#middle.col *, #table1 *,#table2 *{
    background-color: whitesmoke;
}
#end{
    /* border: solid green; */
    height: 405px;
}
.col-8{
    /* border:solid rgb(119, 30, 146); */
    height: 30px;
}
*{
    background-color: rgb(183, 203, 204);
}
.col-4{ 
    /* border:solid rgb(119, 30, 146); */
    height: 30px;

}
/* .row{
    border: solid black;
} */

#dash mat-icon{
    font-size: xx-large;
}
#sold,#sidebar{
    width: 100%;
    height: 325px;
    /* border:solid green; */
    border-radius: 25px;
    overflow: hidden; 
   
}

.endcontent{
    height: 400px;
   
}

img{
    width: 50px;
    border-radius: 20px;
}

#table1,#table2{
    /* border: solid ; */
    height: 350px;
   
    
}
table{
    border-radius: 25px;
    overflow: hidden;
}
td,th{
    padding-left: 20px;
    text-align: center;
    width: 200px;
}
#table1 tr{
    height: 65px;
    /* border: solid yellow; */
}
.cont{
    /* border: solid blue; */
    color: blue;
    width: 70px;
    height: 35px;
    border-radius: 12px;
    margin-left: 80px;

}
#table2 tr{
    height: 48px;
    /* border: solid yellow; */
}
#table2 p{
    padding-top: 3px;
    border-radius: 12px;
}
#table1 button{
    border-radius: 10px;
    margin-right: 10px;
    border: none;
}
.edit{
    color: rgb(29, 165, 29);
    background-color: rgb(160, 243, 160);
}
.delete{
    color: rgb(226, 50, 50);
    background-color:rgb(252, 149, 149) ;
}
button mat-icon{
    padding-top: 10px;
}